In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('bottle.csv')

C:\Users\KOUSHIK\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,Cst_Cnt,Btl_Cnt,Sta_ID,Depth_ID,Depthm,T_degC,Salnty,O2ml_L,STheta,O2Sat,...,R_CHLA,R_PHAEO,R_PRES,R_SAMP,DIC1,DIC2,TA1,TA2,pH2,pH1
0,1,1,054.0 056.0,19-4903CR-HY-060-0930-05400560-0000A-3,0,10.50,33.440,NaN,25.649,NaN,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,054.0 056.0,19-4903CR-HY-060-0930-05400560-0008A-3,8,10.46,33.440,NaN,25.656,NaN,...,NaN,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,3,054.0 056.0,19-4903CR-HY-060-0930-05400560-0010A-7,10,10.46,33.437,NaN,25.654,NaN,...,NaN,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,4,054.0 056.0,19-4903CR-HY-060-0930-05400560-0019A-3,19,10.45,33.420,NaN,25.643,NaN,...,NaN,NaN,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,5,054.0 056.0,19-4903CR-HY-060-0930-05400560-0020A-7,20,10.45,33.421,NaN,25.643,NaN,...,NaN,NaN,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(864863, 73)

In [5]:
df1 = df.corr().abs()

In [6]:
df1.head()

,Cst_Cnt,Btl_Cnt,Depthm,T_degC,Salnty,O2ml_L,STheta,O2Sat,Oxy_µmol/Kg,BtlNum,...,R_CHLA,R_PHAEO,R_PRES,R_SAMP,DIC1,DIC2,TA1,TA2,pH2,pH1
Cst_Cnt,1.000000,0.999345,0.162222,0.089329,0.198024,0.156096,0.089902,0.136510,0.147493,0.026749,...,0.005807,0.040576,0.161961,0.604945,0.036155,0.097938,0.075060,0.115212,0.262587,0.020778
Btl_Cnt,0.999345,1.000000,0.161617,0.090118,0.195207,0.154219,0.089521,0.134732,0.145498,0.027514,...,0.009648,0.035778,0.161348,0.595142,0.035516,0.097251,0.074255,0.114165,0.259082,0.020315
Depthm,0.162222,0.161617,1.000000,0.681201,0.572630,0.592399,0.582710,0.595547,0.589175,0.681935,...,0.279636,0.201450,0.999994,0.018605,0.567855,0.572374,0.786873,0.866185,0.223304,0.611798
T_degC,0.089329,0.090118,0.681201,1.000000,0.505266,0.795700,0.829155,0.850596,0.795543,0.750413,...,0.108925,0.014987,0.679852,0.006503,0.936239,0.949972,0.742196,0.889635,0.547436,0.743735
Salnty,0.198024,0.195207,0.572630,0.505266,1.000000,0.823870,0.603470,0.790231,0.824338,0.693341,...,0.029373,0.003063,0.571405,0.000758,0.938153,0.955942,0.895124,0.937147,0.583807,0.106417

In [7]:
df2 = df1[df1 >= 0.5]

In [35]:
df2.head()

,Cst_Cnt,Btl_Cnt,Depthm,T_degC,Salnty,O2ml_L,STheta,O2Sat,Oxy_µmol/Kg,BtlNum,...,R_CHLA,R_PHAEO,R_PRES,R_SAMP,DIC1,DIC2,TA1,TA2,pH2,pH1
Cst_Cnt,1.000000,0.999345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.604945,NaN,NaN,NaN,NaN,NaN,NaN
Btl_Cnt,0.999345,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.595142,NaN,NaN,NaN,NaN,NaN,NaN
Depthm,NaN,NaN,1.000000,0.681201,0.572630,0.592399,0.582710,0.595547,0.589175,0.681935,...,NaN,NaN,0.999994,NaN,0.567855,0.572374,0.786873,0.866185,NaN,0.611798
T_degC,NaN,NaN,0.681201,1.000000,0.505266,0.795700,0.829155,0.850596,0.795543,0.750413,...,NaN,NaN,0.679852,NaN,0.936239,0.949972,0.742196,0.889635,0.547436,0.743735
Salnty,NaN,NaN,0.572630,0.505266,1.000000,0.823870,0.603470,0.790231,0.824338,0.693341,...,NaN,NaN,0.571405,NaN,0.938153,0.955942,0.895124,0.937147,0.583807,NaN

In [22]:
ex = pd.DataFrame(df2.iloc[3])
ex.iloc[0].values

array([ nan])

In [61]:
list1 = []
dummy = []
for i in range(len(ex)):
    if ex.iloc[i].values >= 0.5:
        list1.append(ex.index[i])
        dummy.append(ex.index[i])
print(list1)

['Depthm', 'T_degC', 'Salnty', 'O2ml_L', 'STheta', 'O2Sat', 'Oxy_µmol/Kg', 'BtlNum', 'PO4uM', 'SiO3uM', 'NO3uM', 'R_Depth', 'R_TEMP', 'R_POTEMP', 'R_SALINITY', 'R_SIGMA', 'R_SVA', 'R_DYNHT', 'R_O2', 'R_O2Sat', 'R_SIO3', 'R_PO4', 'R_NO3', 'R_PRES', 'DIC1', 'DIC2', 'TA1', 'TA2', 'pH2', 'pH1']

C:\Users\KOUSHIK\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in greater_equal
  after removing the cwd from sys.path.

In [62]:
final_df = pd.read_csv('bottle.csv', usecols = list1)

In [63]:
final_df.shape

(864863, 30)

In [64]:
y = final_df['T_degC']
y.head()

0    10.50
1    10.46
2    10.46
3    10.45
4    10.45
Name: T_degC, dtype: float64

In [65]:
dummy.remove('T_degC')
#dummy.remove('Salnty')
print(dummy)

['Depthm', 'Salnty', 'O2ml_L', 'STheta', 'O2Sat', 'Oxy_µmol/Kg', 'BtlNum', 'PO4uM', 'SiO3uM', 'NO3uM', 'R_Depth', 'R_TEMP', 'R_POTEMP', 'R_SALINITY', 'R_SIGMA', 'R_SVA', 'R_DYNHT', 'R_O2', 'R_O2Sat', 'R_SIO3', 'R_PO4', 'R_NO3', 'R_PRES', 'DIC1', 'DIC2', 'TA1', 'TA2', 'pH2', 'pH1']

In [54]:
x = final_df[dummy]
x.head()

,Depthm,Salnty,O2ml_L,STheta,O2Sat,Oxy_µmol/Kg,BtlNum,PO4uM,SiO3uM,NO3uM,...,R_SIO3,R_PO4,R_NO3,R_PRES,DIC1,DIC2,TA1,TA2,pH2,pH1
0,0,33.440,NaN,25.649,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
1,8,33.440,NaN,25.656,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN
2,10,33.437,NaN,25.654,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN
3,19,33.420,NaN,25.643,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,19,NaN,NaN,NaN,NaN,NaN,NaN
4,20,33.421,NaN,25.643,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,20,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
y.shape

(864863,)

In [56]:
x.shape

(864863, 29)

In [57]:
from sklearn.cross_validation import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.20, random_state = 0)

x_train.fillna(x_train.mean(), inplace=True)
x_test.fillna(x_test.mean(), inplace=True)
y_train.fillna(y_train.mean(), inplace=True)
y_test.fillna(y_test.mean(), inplace=True)

C:\Users\KOUSHIK\Anaconda3\lib\site-packages\pandas\core\generic.py:3660: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [58]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression()
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [59]:
pred = reg.predict(x_test)

In [60]:
score = reg.score(x_test, y_test)
print(score)

0.999999967116